# Variables and Assignment

In [1]:
age = 42
first_name = "Ahmed"

In [2]:
print(first_name, "is", age, "years old")

Ahmed is 42 years old

In [3]:
print(last_name)

NameError: name 'last_name' is not defined

In [4]:
age = age + 3
print("Age in three years:", age)

Age in three years: 45

In [5]:
atom_name = "helium"
print(atom_name[0])

h

In [7]:
atom_name = 'sodium'
print(atom_name[0:3])

sod

In [9]:
print(len('helium'))

6

In [10]:
flabadab = 42
ewr_422_yY = 'Ahmed'
print(ewr_422_yY, 'is', flabadab, 'years old')

Ahmed is 42 years old